local:
  config_files:
    filename:
      swap: true
    filename2:
      swap: false
    filename3:
      swap: true

server:
  ssh_user: <%= ssh_user %>
  shared_folder: <%= shared_folder %>
  prefix: <%= prefix %>
  suffix: <%= suffix %>
  customers:
    customer-key:
      address:
